body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 55px;
}
.name-highlight{
    color: orange;
}
.div-1{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.div-1 img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}